<head>
<meta charset=utf-8 />
<style>
#footnote {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    margin-right: 2%;
}
body {


/*background-image:url("https://www.paulrousteau.com/thumbs/travel/travel-ii/maison-de-chateaubriant-5-1300x944.jpg");*/
/*background-repeat: no-repeat;*/

background: linear-gradient(to right, #dd8c3c, cornflowerblue);
font-family: Segoe UI Semilight, Helvetica, sans-serif;
color: #47476b;

margin: 8%;

}
audio { 
	/*width: 80px;*/
	/*background-color: white; */
	opacity: 0.6;
}

</style>
</head>
<body>

<table>
 <thead>
  <tr>
   <th style="text-align:left;"> Titre du Song </th>
   <th style="text-align:left;"></th>
  </tr>
 </thead>
 
<tbody>
  <tr>
   <td style="text-align:left;">Graeme</td>
   <td style="text-align:left;"><audio src="Graeme.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Norwegian Wood</td>
   <td style="text-align:left;"><audio src="Norwegian Wood.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Wé-a -- A-wimboé</td>
   <td style="text-align:left;"><audio src="we-a.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Hey hey, my my</td>
   <td style="text-align:left;"><audio src="HeyHeyMyMy.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Another Lonely Day</td>
   <td style="text-align:left;"><audio src="AnotherLonelyDay.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">After Hours</td>
   <td style="text-align:left;"><audio src="AfterHours.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Hallelujah</td>
   <td style="text-align:left;"><audio src="Hallelujah1.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Dommage</td>
   <td style="text-align:left;"><audio src="Dommage.m4a" controls></audio></td>
  </tr>
  <tr>
   <td style="text-align:left;">Automne</td>
   <td style="text-align:left;"><audio src="Automne.m4a" controls></audio></td>
  </tr>
 
  <tr>
   <td style="text-align:left;">Tambourine Man</td>
   <td style="text-align:left;"><audio src="Tambourine.m4a" controls></audio></td>
  </tr>

  <tr>
   <td style="text-align:left;">Heartbeats</td>
   <td style="text-align:left;"><audio src="Heartbeats1.m4a" controls></audio></td>
  </tr>
  
  
  <tr>
   <td style="text-align:left;">Stand by Me (Lennon)</td>
   <td style="text-align:left;"><audio src="StandByMe1.m4a" controls></audio></td>
  </tr>

  <tr>
   <td style="text-align:left;">Pink Moon</td>
   <td style="text-align:left;"><audio src="PinkMoon.m4a" controls></audio></td>
  </tr>

   <tr>
   <td style="text-align:left;">Julia</td>
   <td style="text-align:left;"><audio src="Julia1.m4a" controls></audio></td>
  </tr>
  
  <tr>
   <td style="text-align:left;">Let It Be (uké)</td>
   <td style="text-align:left;"><audio src="LetItBe1.m4a" controls></audio></td>
  </tr>


  <tr>
   <td style="text-align:left;">Father and Son</td>
   <td style="text-align:left;"><audio src="Cat.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Scarborough Fair</td>
   <td style="text-align:left;"><audio src="Scarborough1.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">AlterEgo</td>
   <td style="text-align:left;"><audio src="AlterEgo2.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">A Simple Twist of Fate</td>
   <td style="text-align:left;"><audio src="Simple3.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Par pareil (avec Julien)</td>
   <td style="text-align:left;"><audio src="PasPareil.mp3" controls></audio></td>
 </tr>
 
 
  <tr>
   <td style="text-align:left;">Windmill, Windmill for the Land</td>
   <td style="text-align:left;"><audio src="Gorillaz.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Swingy Blues</td>
   <td style="text-align:left;"><audio src="swingyblues2.m4a" controls></audio></td>
 </tr>


 <tr>
   <td style="text-align:left;">&nbsp;</td>
   <td style="text-align:left;"></td>
 </tr>

  <tr>
   <td style="text-align:left;">Biarritz</td>
   <td style="text-align:left;"><audio src="Biarritz1.m4a" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Biarritz 3</td>
   <td style="text-align:left;"><audio src="Biarritz_3.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Humeurs octavies</td>
   <td style="text-align:left;"><audio src="HumeurOctavie2.mp3" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Fatigue</td>
   <td style="text-align:left;"><audio src="fatigue.mp3" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Oléron</td>
   <td style="text-align:left;"><audio src="oleron1.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Taylor amplifiée</td>
   <td style="text-align:left;"><audio src="tayloramplifie.m4a" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Deux fois plus vite</td>
   <td style="text-align:left;"><audio src="guig.wav" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Do et La</td>
   <td style="text-align:left;"><audio src="doetla.mp3" controls></audio></td>
 </tr>

  <tr>
   <td style="text-align:left;">Président</td>
   <td style="text-align:left;"><audio src="president.wav" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Les passantes Bossa</td>
   <td style="text-align:left;"><audio src="Lespassantes.m4a" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Sans titre 1</td>
   <td style="text-align:left;"><audio src="Sans titre 1.m4a" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Medley picking<br>Windy and warm - Poupée et autres</td>
   <td style="text-align:left;"><audio src="medley_pick.m4a" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Sans titre 0</td>
   <td style="text-align:left;"><audio src="notitle.m4a" controls></audio></td>
 </tr>

<tr>
   <td style="text-align:left;">Basque Hélène au téléphone</td>
   <td style="text-align:left;"><audio src="ht.m4a" controls></audio></td>
 </tr>

 </tbody>
</table>

<br>

<div id = "footnote"><em>Merci de votre passage</em> </div>
</body>

